@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.text-sm {
  font-size: 14px;
}
.text-md {
  font-size: 16px;
}
.text-lg {
  font-size: 20px;
}
.regular-text {
  font-weight: 300;
}
.medium-text {
  font-weight: 600;
}
.bold-text {
  font-weight: 800;
}
.mb-1{
  margin-bottom: 1em;
}
.mb-2{
  margin-bottom: 2em;
}
.dark-blue {
  color: hsl(209, 23%, 22%);
}
.very-dark-blue {
  background: hsl(207, 26%, 17%);
}
.very-dark-blue-light {
  color: hsl(200, 15%, 8%);
}
.dark-grey {
  color: hsl(0, 0%, 98%);
}
.white {
  color: #ffffff;
}
.white-bg {
  background-color: #ffffff;
}
.flex {
  display: flex;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.flex-wrap {
  flex-wrap: wrap;
}

.row {
  margin-bottom: 3em;
}
.country-item {
  width: calc(25% - 50px);;
  max-width: 100%;
  box-shadow: 0 0 3px 4px rgb(0 0 0 / 6.5%);
  border-radius: 5px;
  margin-right: 30px;
}
.country-item:last-of-type {
  margin-right: unset;
}
.country-image {
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.country-image > img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.navbar {
  box-shadow: 0 0 3px 2px rgb(0 0 0 / 6.5%);
}
.search-bar {
  width: 40%;
}
.search-bar>svg {
  position: relative;
  top: -30px;
  left: 1.3em;
}
.filter-bar {
  width: 30%;
  text-align: right;
}
.filter-select, .search-input {
  padding: 1em;
  border: none;
  box-shadow: 0 0 3px 2px rgb(0 0 0 / 6.5%);
  border-radius: 5px;
  outline: 0;
}
.search-input {
  padding-left: 3.5em;
}
.page-title {
  padding-top: 0.2em;
}
.details {
  padding: 1em;
}
.theme-selector-btn {
  background: transparent;
  border: 0;
  padding: 0.5em;
  border-radius: 5px;
  cursor: pointer;
}
.back {
  border: 0;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 3px 2px rgb(0 0 0 / 6.5%);
  background: #fff;
}
.theme-selector-btn:hover, 
.back:hover {
  background: rgb(0 0 0 / 6.5%) !important;
}
.dark-theme,
.dark-theme > .header > .navbar {
  background-color: hsl(207, 26%, 17%) !important;
}
.dark-theme > .header > .navbar,
.dark-theme .country-item,
.dark-theme .search-input,
.dark-theme .filter-select {
  background-color: hsl(209, 23%, 22%) !important;
  color: #ffffff;
}
.light-theme svg {
  color: rgba(0 0 0 / 30%);
}
.dark-theme svg,
.dark-theme .theme-selector-btn,
.dark-theme .back,
.dark-theme .content-details {
  color: #ffffff;
}
.dark-theme .back {
  background: hsl(209, 23%, 22%);
}
.main-bg {
  padding-bottom: 3em;
  overflow: auto;
  height: 100vh;
  min-width: 1200px;
  background-color: hsl(0, 0%, 98%);
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em 2em;
  z-index: 1;
}
.top-bar {
  padding-top: 6em;
  padding-bottom: 2em;
}
.details-page {
  padding-top: 6em;
}
.action-tab{
  padding-top: 1em;
  padding-bottom: 3em;
}
main {
  padding: 0 2em;
}
.details > div {
  margin-bottom: .5em;
}
.half-width>img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 2px 16px rgb(0 0 0 / 6.5%);
}
.half-width>.name {
  padding: 2em 1em 1em;
}
.half-width {
  width: calc(50% - 2em)
}
@media (max-width: 1200px) {
  .detail-split,
  .content-details {
    display: block;
  }
  .half-width {
    width: 100%;
  }
  .half-width:first-of-type > .details {
    margin-top: -2em;
  }
  .half-width > .name {
    margin-top: 1em;
  }
  .filter-bar {
    text-align: left;
  }
  .top-bar .content {
    display: block;
  }
  .filter-select {
    margin-top: 2em;
  }
  .row {
    display: block;
  }
  .country-item {
    margin-top: 2em;
    width: 100%;
    cursor: pointer;
  }
  .country-item:first-of-type {
    margin-top: unset;
  }
  .main-bg {
    min-width: unset;
    width: 100%;
  }
}